<div class="container text-center mt-5">
    <img src="{{nv.img}}" alt="Avatar" class="rounded mx-auto d-block img-fluid" width="100" height="100">
    <p class="text-capitalize fw-bold fs-4 mb-0"> Nhân viên: {{nv.manv}} - {{nv.tennv}}</p>
    <p class="text fs-6 mt-0">Điểm TB: {{nv.diemtb}}</p>
</div>