<h1 class="modal-title fs-5 my-3" id="exampleModalLabel">Chỉnh sửa nhân viên</h1>
<div class="modal-body">
    <form method="post" action="/edit/{{nv._id}}">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" value="{{nv.tennv}}" id="tensp" name="tennv"
                placeholder="FullName">
            <label for="floatingInput">Tên nhân viên</label>
        </div>
        <div class="form-floating mb-3">
            <input type="number" class="form-control" value="{{nv.diemtb}}" id="giaban" name="diem"
                placeholder="UserName">
            <label for="floatingInput">Điểm</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" value="{{nv.img}}" class="form-control" id="soluong" name="img"
                placeholder="UserName">
            <label for="floatingInput">Image</label>
        </div>
        <div class="modal-footer mb-3">
            <a href="/" class="btn btn-primary mx-2">Back</a>
            <button type="submit" class="btn btn-primary">Sửa</button>
        </div>
    </form>
</div>